<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.ejs</title>

</head>
<style>
    h1{
        background-color: antiquewhite;
    }
</style>

<body>
    <h1>"At foo bar"</h1>
    <h2><%= drink.name %> </h2>
    <img src="<%= drink.image %>.png">
    <h3>Price, <%= drink.price %></h3>
    <a href="/drinks"> Back to home Screen</a>
</body>
</html>
